<md-dialog ng-controller="snAboutDlgCtrl"
           aria-label="About Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>The SatNet Network</span>
        </h2>
    </md-toolbar>

    <md-content>
        <div layout="row" layout-align="center center">
            <div class="sn-about-logo" flex="none"></div>
            <div class="sn-about-content" flex>
                <p>
                The SatNet Network is a cooperative Open Source project hosted
                at (<a href="https://github.com/satnet-project">GitHub</a>). Its
                objective is to provide a communications network that enables
                sharing the Ground Stations of the members of the CubeSat
                developers community.
                </p>
                <p>
                All the documentation is edited online in a collaborative wiki
                website hosted also at GitHub:
                <a href="https://github.com/satnet-project/documentation/wiki">SatNet Wiki</a>.
                Frozen versions of the documents can be downloaded in PDF
                format.
                </p>
            </div>
        </div>

        <div layout="row">
            <md-button id="closeAbout" aria-label="Cancel"
                       class="md-primary menu-button"
                       ng-click="closeDialog()" >
                <div layout="row" layout-align="center center">
                    <i class="fa fa-reply"></i>
                    <b>cancel</b>
                </div>
            </md-button>
        </div>

    </md-content>

</md-dialog>