<div class='modal-header'>
    <h3 class='modal-title'>Manage Ground Stations</h3>
</div>

<div class='modal-body' style='display: table-row;'>
    <form name='form'>
        <div style='width: 300px; display: table-cell; text-align: center'>
            <h4>Available GS</h4>
            <select multiple
                    ng-model="gsIds.aItems"
                    ng-options="aid as aid.groundstation_id for aid in gsIds.leop_gs_available"
                    style='width: 95%;' class='leop-gs-duallist'>
            </select>
        </div>
        <div style='width: 10px; display: table-cell; margin-top: 50px;'>
            <button id='a2u' class='btn'
                    ng-disabled="!gsIds.aItems.length || is_anonymous"
                    ng-click="selectGs()">&gt;
            </button>
            <button id='u2a' class='btn'
                    ng-disabled="!gsIds.uItems.length || is_anonymous"
                    ng-click="unselectGs()">&lt;
            </button>
        </div>
        <div style='width: 300px; display: table-cell; text-align: center'>
            <h4>Choosen GS</h4>
            <select multiple
                    ng-model="gsIds.uItems"
                    ng-options="uid as uid.groundstation_id for uid in gsIds.leop_gs_inuse"
                    style='width: 95%;'>
            </select>
        </div>
    </form>
</div>

<div class='modal-footer'>
    <button class='btn btn-primary' ng-click="ok()"
            ng-disabled="is_anonymous">(ok)</button>
    <button class='btn btn-warning' ng-click="cancel()">(cancel)</button>
</div>