<div ng-controller="countdownCtrl"
     style='width:100%'
     ng-click="toggle()"
     class='countdown'>
    <div>
        <div ng-show="cd.expired">
            <p>{{ cd.label }}</p>
        </div>
        <div ng-hide="cd.expired || cd.hide">
            <p>{{ cd.diff | cdDate }}</p>
        </div>
    </div>
</div>