<md-dialog ng-init="init()" aria-label="Compatibility Dialog">
    
<md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
        <span>Compatible Ground Station Channels</span>
    </h2>
</md-toolbar>

<md-content class="md-padding">

    <md-list>

        <div ng-show="!compatibility.length" class="sn-box-placement" style="padding: 25px">
            <i class="md-title">
                (no spacecraft available)
            </i>
        </div>
        <md-list-item class="md-3-line" ng-repeat="sc in compatibility">

            <md-card>
                <md-card-content>
                    <h3 class="sn-sc-compat">
                        {{ sc.spacecraft_id }}
                    </h3>
                    <md-list class="md-list-item-text">
                        <md-list-item ng-show="!sc.Compatibility.length">
                            <span class="sn-no-item" style="margin-left: 25px">(no channels available)</span>
                        </md-list-item>
                        <md-list-item class="md-4-line" ng-repeat="sc_ch in sc.Compatibility" layout="row">
                            <div class="sn-box-100">
                                <a class="md-title sn-padding sn-fg-color">{{ sc_ch.ScChannel.identifier }}</a>
                            </div>
                            <div ng-show="!sc_ch.Compatibility.length" class="sn-box-placement">
                                <i class="md-title sn-padding">
                                    (no compatible channels found)
                                </i>
                            </div>
                            <div class="sn-box-100 sn-box-format" ng-repeat="gs_compat in sc_ch.Compatibility">
                                <div>
                                    <i class="md-title sn-padding">
                                        {{ gs_compat.GsChannel.identifier }}
                                    </i>
                                </div>
                                <div>
                                    <b class="md-title sn-padding">
                                        {{ gs_compat.GroundStation.identifier }}
                                    </b>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>

        </md-list-item>

    </md-list>

    <div layout="row">

        <md-button id="cancel" ng-click="close()" aria-label="close dialog" class="md-primary menu-button">
            <div layout="row">
                <i class="fa fa-times"></i>
                <b>close</b>
            </div>
        </md-button>

    </div>

</md-content>
</md-dialog>