<md-dialog ng-controller="gsListCtrl" ng-init="init()" aria-label="Ground Stations Menu">
    <md-content class="menu-list">

        <md-button id="addGs" ng-click="showGsDialog()" aria-label="add ground station" class="md-primary menu-button">

            <div layout="row" layout-fill>
                <i class="fa fa-plus"></i>
                <b>ground station</b>
            </div>

        </md-button>

        <md-divider></md-divider>

        <md-list>
            <li ng-hide="gsList.length" class="sn-no-item">
                (no ground stations)
            </li>
            <md-list-item ng-repeat="gs in gsList">

                <div layout="row" layout-fill>

                    <md-button id="{{ gs }}-edit" ng-click="edit(gs)" aria-label="edit ground station {{ gs }}" class="md-primary menu-button" style="text-align:center; width: 70%">
                        <div layout="row" layout-fill>
                            <b>{{ gs }}</b>
                        </div>
                    </md-button>

                    <!--
                    <md-button id="{{ gs }}-availability" ng-click="showRuleList(gs)" aria-label="define availability {{ gs }}" class="md-primary menu-button" flex>
                        <div layout="row" layout-fill>
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </md-button>
                    -->

                    <md-button id="{{ gs }}-channels" ng-click="showChannelList(gs)" aria-label="define channels {{ gs }}" class="md-primary menu-button" flex>
                        <div layout="row" layout-fill>
                            <i class="fa fa-rss"></i>
                        </div>
                    </md-button>

                    <md-button id="{{ gs }}-remove" ng-click="delete(gs)" aria-label="remove ground station {{ gs }}" class="md-primary menu-button" flex>
                        <div layout="row" layout-fill>
                            <i class="fa fa-close"></i>
                        </div>
                    </md-button>

                </div>

            </md-list-item>
        </md-list>

    </md-content>
</md-dialog>