<div id='splash' ng-cloak class='ng-cloak splash-bg'>

    <div class='splash-logo'>
        <embed src='static/images/logo.svg'></embed>
    </div>

    <div class='splash-title'>Accessing {{ leop_id }} LEOP network</div>

</div>