<md-dialog aria-label="Booking Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools"><span>Slot Booking</span></h2>
    </md-toolbar>

    <md-content>
        <div layout="row" layout-align="center center">
            <div class="sn-slot-info sn-dark-right-border" flex="30">
                <h3>Slot Information</h3>
                <h4>Start (local TZ)</h4>
                <p>{{gui.slot.slot.s_date | date:'yyyy-MM-dd hh:mm:ss'}}</p>
                <h4>End (local TZ)</h4>
                <p>{{gui.slot.slot.e_date| date:'yyyy-MM-dd hh:mm:ss'}}</p>
                <h4>Duration</h4>
                <p>{{gui.slot.slot.duration}}</p>
                <h4>State</h4>
                <p>{{gui.slot.slot.state}}</p>
            </div>
            <div class="sn-slot-info-container"
                 layout="column" layout-align="left center" flex>
                <div class="sn-dark-bottom-border"
                     layout="row" layout-align="center top">
                    <div class="sn-slot-related sn-light-right-border"
                         flex="50">
                        <h3>{{ gui.gs.groundstation_id }} ({{ gui.gs.groundstation_callsign }})</h3>
                        <h4>Coordinates</h4>
                        <p>[{{gui.gs.groundstation_latlon[0] | number:2}}&deg;, {{gui.gs.groundstation_latlon[1] | number:2}}&deg;]</p>
                        <h4>Altitude</h4>
                        <p>{{gui.gs.groundstation_altitude | number:2}} (m)</p>
                        <h4>Contact Elevation</h4>
                        <p>{{gui.gs.groundstation_elevation | number:2}}&deg;</p>
                    </div>
                    <div class="sn-slot-related" flex="50">
                        <h3>{{ gui.sc.spacecraft_id }} ({{ gui.sc.spacecraft_callsign }})</h3>
                        <h4>TLE Identifier</h4>
                        <p>{{gui.sc.spacecraft_tle_id}}</p>
                    </div>
                </div>
                <div class="sn-slot-related sn-dark-bottom-border">
                    <h3 style="text-align: center">Compatible Channels</h3>
                </div>
                <div class="sn-slot-related sn-dark-bottom-border"
                     layout="column" layout-align="center top">
                </div>
            </div>
        </div>
    </md-content>

    <md-content class="add-gs-dialog menu-list">

        <div layout="row" layout-align="center center">

            <md-button id="book" ng-click="book()" aria-label="Book Slot"
                       class="md-primary menu-button sn-margin"
                       style="width: 100px">
                <div layout="row">
                    <i class="fa fa-book"></i>
                    <b style="margin-left: 15px">book</b>
                </div>
            </md-button>

            <md-button id="cancel" ng-click="close()" aria-label="Cancel"
                       class="md-primary menu-button sn-margin"
                       style="width: 100px">
                <div layout="row">
                    <i class="fa fa-reply"></i>
                    <b style="margin-left: 15px">cancel</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>