<md-dialog aria-label="Booking Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools"><span>Slot Booking</span></h2>
    </md-toolbar>

    <md-content>
        <div layout="row" layout-align="center center">
            <div class="sn-dark-right-border" flex="30">
                <div class="sn-slot-info"
                     layout="column" layout-align="top center">
                    <div class="sn-dark-bottom-border">
                        <h3>Slot Information</h3>
                        <h4>Start (local TZ)</h4>
                        <p>{{gui.slot.slot.s_date | date:'yyyy-MM-dd hh:mm:ss'}}</p>
                        <h4>End (local TZ)</h4>
                        <p>{{gui.slot.slot.e_date| date:'yyyy-MM-dd hh:mm:ss'}}</p>
                        <h4>Duration</h4>
                        <p>{{gui.slot.slot.duration}}</p>
                    </div>
                    <div>
                        <h3>Booking Status</h3>
                        <p ng-class="{
                            'sn-booking-free': gui.slot.slot.state_free,
                            'sn-booking-requested': gui.slot.slot.state_requested
                        }">{{ gui.slot.raw_slot.state }}</p>
                    </div>
                </div>
            </div>
            <div class="sn-slot-info-container"
                 layout="column" layout-align="left center" flex>
                <div class="sn-dark-bottom-border"
                     layout="row" layout-align="center top">
                    <div class="sn-slot-related sn-light-right-border"
                         flex="50">
                        <h3>{{ gui.gs.groundstation_id }} ({{ gui.gs.groundstation_callsign }})</h3>
                        <h4>Position</h4>
                        <p>[{{gui.gs.groundstation_latlon[0] | number:2}}&deg;, {{gui.gs.groundstation_latlon[1] | number:2}}&deg;]</p>
                        <p>{{gui.gs.groundstation_altitude | number:1}} (m)</p>
                        <h4>Contact Elevation</h4>
                        <p>{{gui.gs.groundstation_elevation | number:2}}&deg;</p>
                    </div>
                    <div class="sn-slot-related" flex="50">
                        <h3>{{ gui.sc.spacecraft_id }} ({{ gui.sc.spacecraft_callsign }})</h3>
                        <h4>TLE Identifier</h4>
                        <p>{{gui.sc.spacecraft_tle_id}}</p>
                    </div>
                </div>
                <div class="sn-slot-related sn-dark-bottom-border">
                    <h3 style="text-align: center">Compatible Channels</h3>
                    <div layout="column" layout-align="top center">
                        <div ng-repeat="c in gui.compatible_chs"
                             layout="row" layout-align="center center">
                            <div class="sn-padded-centered-box sn-light-right-border"
                                 flex="50">
                                {{c.GsChannel.identifier}}
                            </div>
                            <div class="sn-padded-centered-box" flex="50">
                                {{c.ScChannel.identifier}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </md-content>

    <md-content class="add-gs-dialog menu-list">

        <div layout="row" layout-align="center center">

            <md-button id="cancel" ng-click="cancel()"
                       aria-label="Cancel Slot"
                       ng-disabled="!isSelected()"
                       class="md-primary menu-button sn-margin"
                       style="width: 100px">
                <div layout="row">
                    <i class="fa fa-sign-out"></i>
                    <b style="margin-left: 15px">cancel</b>
                </div>
            </md-button>

            <md-button id="book" ng-click="book()" aria-label="Book Slot"
                       ng-disabled="!isFree()"
                       class="md-primary menu-button sn-margin"
                       style="width: 100px">
                <div layout="row">
                    <i class="fa fa-book"></i>
                    <b style="margin-left: 15px">book</b>
                </div>
            </md-button>

            <md-button id="back" ng-click="close()" aria-label="Cancel"
                       class="md-primary menu-button sn-margin"
                       style="width: 100px">
                <div layout="row">
                    <i class="fa fa-reply"></i>
                    <b style="margin-left: 15px">back</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>