<md-dialog ng-init="init()" aria-label="Operational Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Operational Slots</span>
        </h2>
    </md-toolbar>

    <md-content id="sn-sch-md-content">
        <sn-operational-scheduler/>
    </md-content>

    <md-content class="add-gs-dialog menu-list">

        <div layout="row">

            <md-button id="cancel" ng-click="close()" aria-label="Cancel"
                       class="md-primary menu-button sn-margin"
                       style="width: 100px">
                <div layout="row">
                    <i class="fa fa-times"></i>
                    <b style="margin-left: 15px">cancel</b>
                </div>
            </md-button>

            <md-button id="detach"
                       ng-click="detach()"
                       ng-disabled="{{ !(uiCtrl.detachable) }}"
                       aria-label="Detach"
                       class="md-primary menu-button" style="width: 125px">
                <div layout="row" style="sn-margin">
                    <i class="fa fa-clone"></i>
                    <b style="margin-left: 15px">detach</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>