<div class="sn-sch-table-wrap">

    <style type="text/css">
        @keyframes sn-sch-table-overlay-right {
            from { width: {{ gui.animation.initial_width }}; }
            to { width: {{ gui.animation.final_width }}; }
        }
    </style>

    <div class="sn-sch-table-overlay">
        <div class="sn-sch-table-overlay-left"
             ng-style="{'width': '' + gui.gs_id_width}">
        </div>
        <div class="sn-sch-table-overlay-container">
            <div class="sn-sch-table-overlay-right"
                 ng-style="{
                    'animation': 'sn-sch-table-overlay-right ' + gui.animation.duration + 's ' + ' linear',
                    'width': gui.animation.initial_width
                 }">
            </div>
        </div>
    </div>

    <table id="a-slots-timeline" class="sn-sch-table">

        <colgroup>
            <col class="sn-sch-gs-col"/>
        </colgroup>

        <tr>
            <td class="sn-sch-corner-top"
                ng-style="{'width': '' + gui.gs_id_width}">
            </td>
            <td colspan="{{ gui.times.length }}"
                class="sn-sch-cell-container">
                <p>{{ segmentId }}</p>
            </td>
        </tr>

        <tr ng-repeat="(sc, slots) in gui.slots">

            <td class="sn-sch-gs-id"
                ng-style="{'width': '' + gui.gs_id_width}">
                <p>{{ sc }}</p>
            </td>
            <td colspan="{{ gui.times.length }}"
                class="sn-sch-cell-container">

                <div class="sn-sch-row-container">

                <table class="sn-sch-row-table">

                    <colgroup ng-repeat="d in gui.days">
                        <col span="{{ gui.no_cols }}" class="sn-sch-time-col"/>
                        <col class="sn-sch-day-col"/>
                    </colgroup>

                    <tr>
                        <td ng-repeat="t in gui.times track by $index"
                            ng-style="{'width': '' + gui.gs_id_width}">
                        </td>
                    </tr>

                </table>

                <div class="sn-sch-row-overlay">
                    <div class="sn-sch-slot-container">

                        <div class="sn-sch-slot"
                             ng-repeat="s in slots"
                             ng-style="{
                                'left': s.slot.left + '%',
                                'width': s.slot.width + '%'
                             }">
                        </div>

                        <div class="sn-sch-slot-state"
                             ng-class="{
                                'sn-state-free': s.slot.state_free,
                                'sn-state-requested':  s.slot.state_requested
                             }"
                             ng-repeat="s in slots"
                             ng-style="{'left': ( s.slot.left + 1) + '%'}">
                            <a ng-click="book(segmentId, sc, s)">
                                {{ s.raw_slot | printState }}
                            </a>
                        </div>
                        <!--
                        <div class="sn-sch-slot-info" ng-repeat="s in slots"
                             ng-style="{'left': ( s.slot.left + 1) + '%'}">
                            <ul>
                                <li><b>{{ s.slot.state }}</b></li>
                                <li>{{ s.slot.s_date | printSlotDate }}</li>
                                <li>{{ s.slot.e_date | printSlotDate }}</li>
                            </ul>
                        </div>
                        -->

                        <div class="sn-sch-slot-data"
                             ng-repeat="s in slots"
                             ng-style="{'left': ( s.slot.left + 1) + '%'}">
                             <ul>
                                <li>
                                    {{ s.slot.duration }}
                                </li>
                             </ul>
                        </div>

                    </div>
                </div>

                </div>
            </td>
        </tr>

        <tr>
            <td class="sn-sch-corner-bottom"
                ng-style="{'width': '' + gui.gs_id_width}">
            </td>
            <td colspan="{{ gui.times.length }}" class="sn-sch-cell-container">
                <sn-timeline></sn-timeline>
            </td>
        </tr>

    </table>

</div>
