<div class="operations-main" ng-controller="operationsAppCtrl" layout="column" layout-fill>

    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu" md-is-locked-open="$mdMedia('gt-md')">

            <md-content class="md-padding" ng-controller="operationsMenuCtrl">

                <md-button id="menuExit" ng-click="close()" aria-label="exit" class="md-primary menu-button">
                    <div layout="row" layout-fill>
                        <i class="fa fa-power-off"></i>
                        <b>exit</b>
                    </div>
                </md-button>

                <md-divider></md-divider>

                <md-button id="menuGS" ng-click="showGsMenu()" aria-label="ground stations" class="md-primary menu-button">
                    <div layout="row" layout-fill>
                        <i class="fa fa-home"></i>
                        <b>ground stations</b>
                    </div>
                </md-button>

                <md-button id="menuSC" ng-click="showScMenu()" aria-label="spacecraft" class="md-primary menu-button">
                    <div layout="row" layout-fill>
                        <i class="fa fa-space-shuttle"></i>
                        <b>spacecraft</b>
                    </div>
                </md-button>

                <md-divider></md-divider>

                <md-button id="menuCompatibility" ng-click="showCompatibility()" aria-label="compatibility" class="md-primary menu-button">
                    <div layout="row" layout-fill>
                        <i class="fa fa-puzzle-piece"></i>
                        <b>compatibility</b>
                    </div>
                </md-button>

                <md-button id="menuAvailability" ng-click="showAvailability()" aria-label="availability" class="md-primary menu-button">
                    <div layout="row" layout-fill>
                        <i class="fa fa-clock-o"></i>
                        <b>availability</b>
                    </div>
                </md-button>

                <md-divider></md-divider>

                <sn-about></sn-about>

            </md-content>

        </md-sidenav>
        <md-content flex class="md-padding">

            <div layout="column" layout-fill layout-align="center center">
                <sn-map></sn-map>
                <div>
                    <md-button id="toggleMenu" class="md-primary" aria-label="show menu" ng-click="toggleMenu()" hide-gt-md>
                        <p class="fa fa-bars"></p>
                        <md-tooltip id="ttToggleMenu">show menu</md-tooltip>
                    </md-button>
                </div>
            </div>

        </md-content>
    </section>

</div>