<div class="operations-main"
     ng-controller="operationsAppCtrl"
     layout="column" layout-fill>

    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                    md-component-id="menu"
                    md-is-locked-open="$mdMedia('gt-md')"
                    style="overflow: hidden">
        <div layout="column">

            <div flex="66" layout="row">

                <md-content class="md-padding"
                            ng-controller="operationsMenuCtrl">

                    <md-button id="menuExit"
                               ng-click="exit()"
                               aria-label="exit"
                               class="md-primary menu-button">
                        <div layout="row" layout-fill>
                            <i class="fa fa-power-off"></i>
                            <b>exit</b>
                        </div>
                    </md-button>

                    <md-divider></md-divider>

                    <md-button id="menuGS"
                               ng-click="showGsMenu()"
                               aria-label="ground stations"
                               class="md-primary menu-button">
                        <div layout="row" layout-fill>
                            <i class="fa fa-home"></i>
                            <b>ground stations</b>
                        </div>
                    </md-button>

                    <md-button id="menuSC"
                               ng-click="showScMenu()"
                               aria-label="spacecraft"
                               class="md-primary menu-button">
                        <div layout="row" layout-fill>
                            <i class="fa fa-space-shuttle"></i>
                            <b>spacecraft</b>
                        </div>
                    </md-button>
                    <md-divider></md-divider>

                    <sn-availability></sn-availability>
                    <sn-compatibility></sn-compatibility>
                    <md-divider></md-divider>

                    <sn-operational></sn-operational>
                    <sn-requests></sn-requests>
                    <md-divider></md-divider>

                    <sn-about></sn-about>
                    <md-divider></md-divider>

                </md-content>

            </div>

            <div flex="34">
                <sn-logger></sn-logger>
            </div>

        </div>
        </md-sidenav>

        <md-content flex class="md-padding">

            <div layout="column" layout-fill layout-align="center center">
                <sn-map></sn-map>
                <div>
                    <md-button id="toggleMenu"
                               class="md-primary"
                               aria-label="show menu"
                               ng-click="toggleMenu()"
                               hide-gt-md>
                        <p class="fa fa-bars"></p>
                        <md-tooltip id="ttToggleMenu">show menu</md-tooltip>
                    </md-button>
                </div>
            </div>

        </md-content>
    </section>

</div>