<div class="operations-main" layout="column" layout-fill>

    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="menu" md-is-locked-open="$mdMedia('gt-md')">

            <md-content class="md-padding" ng-controller="OperationsMenuCtrl">

                <md-button id="menuExit" ng-click="close()" aria-label="exit" class="md-primary menu-button">
                    <div layout="row" layout-fill>
                        <i class="fa fa-power-off"></i>
                        <b>exit</b>
                    </div>
                </md-button>

                <md-divider></md-divider>

                <md-button id="menuGS" ng-click="close()" aria-label="ground stations" class="md-primary menu-button">
                    <div layout="row" layout-fill>
                        <i class="fa fa-home"></i>
                        <b>ground stations</b>
                    </div>
                </md-button>

                <md-button id="menuSC" ng-click="close()" aria-label="spacecraft" class="md-primary menu-button">
                    <div layout="row" layout-fill>
                        <i class="fa fa-space-shuttle"></i>
                        <b>spacecraft</b>
                    </div>
                </md-button>

                <md-divider></md-divider>

            </md-content>

        </md-sidenav>
        <md-content flex class="md-padding">

            <div layout="column" layout-fill layout-align="center center">
                <div>
                    <leaflet id="mainMap" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></leaflet>
                </div>
                <div>
                    <md-button id="toggleMenu" class="md-primary" aria-label="show menu" ng-click="toggleMenu()" hide-gt-md>
                        <p class="fa fa-bars"></p>
                        <md-tooltip id="ttToggleMenu">show menu</md-tooltip>
                    </md-button>
                </div>
            </div>

        </md-content>
    </section>

</div>