<md-dialog aria-label="Rules Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span ng-show="!uiCtrl.editing">Add new Rule</span>
            <span ng-show="uiCtrl.editing">Edit Rule #{{ configuration.key }}</span>
        </h2>
    </md-toolbar>

    <md-content class="add-gs-dialog menu-list">

        <form name="configuration">

            <div layout="row">

                <md-input-container>
                    <md-radio-group ng-model="configuration.operation">
                        <md-radio-button value="+" class="md-primary">+ ADD</md-radio-button>
                        <md-radio-button value="-">- DEL</md-radio-button>
                    </md-radio-group>
                </md-input-container>

            </div>

        </form>

        <div layout="row">

            <md-button id="add" ng-click="add()" ng-show="!uiCtrl.editing" ng-disabled="uiCtrl.configuration.$pristine || uiCtrl.configuration.$invalid" aria-label="Add Ground Station" class="md-primary menu-button">
                <div layout="row">
                    <i class="fa fa-plus"></i>
                    <b>add</b>
                </div>
            </md-button>

            <md-button id="edit" ng-click="update()" ng-show="uiCtrl.editing" ng-disabled="uiCtrl.configuration.$pristine || uiCtrl.configuration.$invalid" aria-label="Edit Ground Station" class="md-primary menu-button">
                <div layout="row">
                    <i class="fa fa-floppy-o"></i>
                    <b>save</b>
                </div>
            </md-button>

            <md-button id="cancel" ng-click="cancel()" aria-label="Cancel" class="md-primary menu-button">
                <div layout="row">
                    <i class="fa fa-times"></i>
                    <b>cancel</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>