<md-dialog aria-label="Rules Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span ng-show="!uiCtrl.isEditing">Add new Rule</span>
            <span ng-show="uiCtrl.isEditing">Edit Rule #{{ configuration.key }}</span>
        </h2>
    </md-toolbar>

    <md-content class="add-gs-dialog menu-list">

        <form name="configuration">

            <div layout="row">

                <div style="width: 30%">
                    <md-input-container>
                        <strong>Operation</strong>
                        <md-radio-group name="operation" ng-model="rule.operation" ng-required="true">
                            <md-radio-button value="+" class="md-primary">create</md-radio-button>
                            <md-radio-button value="-" class="md-primary">erase</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>
                <div style="width: 30%">
                    <md-input-container>
                        <strong>Periodicity</strong>
                        <md-radio-group name="periodicity" ng-model="rule.periodicity" ng-change="periodicityChanged()" ng-required="true">
                            <md-radio-button value="O" class="md-primary">once</md-radio-button>
                            <md-radio-button value="D" class="md-primary">daily</md-radio-button>
                            <md-radio-button value="W" class="md-primary" disabled="true">weekly</md-radio-button>
                        </md-radio-group>
                    </md-input-container>
                </div>

                <div layout="column" style="width: 40%">
                    <strong>Applicability Range</strong>
                    <md-input-container ng-class="{ 'md-input-invalid': uiCtrl.invalidDate }">
                        <label for="start_date">Start Date</label>
                        <input name="start_date" type="date" placeholder="yyyy-MM-dd" ng-model="rule.start_date" ng-change="startDateChanged()" min="{{ uiCtrl.minDate }}" max="{{ uiCtrl.maxDate }}" required />
                    </md-input-container>
                    <md-input-container ng-class="{ 'md-input-invalid': uiCtrl.invalidDate }">
                        <label for="end_date">End Date</label>
                        <input name="end_date" type="date" placeholder="yyyy-MM-dd" ng-model="rule.end_date" ng-change="endDateChanged()" ng-disabled="uiCtrl.endDateDisabled" min="{{ uiCtrl.minDate }}" max="{{ uiCtrl.maxDate }}" required />
                    </md-input-container>
                </div>

            </div>

            <div layout="row">

                <md-tabs md-dynamic-height md-border-bottom md-selected="uiCtrl.activeTab">
                    <md-tab label="Once" md-on-select="tabSelected('O')">
                        <div layout="row">
                            <md-input-container style="padding: 25px; width: 50%" ng-class="{ 'md-input-invalid': uiCtrl.invalidOnceTime }">
                                <label for="start_time">Start Time</label>
                                <input name="once_start_time" type="time" step="60" ng-model="rule.onceCfg.start_time" ng-change="validateOnceTimes()" ng-required="true"/>
                            </md-input-container>
                            <md-input-container style="padding: 25px; width: 50%" ng-class="{ 'md-input-invalid': uiCtrl.invalidOnceTime }">
                                <label for="end_time">End Time</label>
                                <input name="once_end_time" type="time" step="60" ng-model="rule.onceCfg.end_time" ng-change="validateOnceTimes()" ng-required="true"/>
                            </md-input-container>
                        </div>
                    </md-tab>
                    <md-tab label="Daily" md-on-select="tabSelected('D')">
                        <div layout="row">
                            <md-input-container style="padding: 25px; width: 50%" ng-class="{ 'md-input-invalid': uiCtrl.invalidDailyTime }">
                                <label for="start_time">Start Time</label>
                                <input name="daily_start_time" type="time" ng-model="rule.dailyCfg.start_time" ng-change="validateDailyTimes()" ng-required="true"/>
                            </md-input-container>
                            <md-input-container style="padding: 25px; width: 50%" ng-class="{ 'md-input-invalid': uiCtrl.invalidDailyTime }">
                                <label for="end_time">End Time</label>
                                <input name="daily_end_time" type="time" ng-model="rule.dailyCfg.end_time" ng-change="validateDailyTimes()" ng-required="true"/>
                            </md-input-container>
                        </div>
                    </md-tab>
                    <md-tab label="Weekly" md-on-select="tabSelected('W')" ng-disabled="true">
                        <md-content class="md-padding">
                            <strong style="font-color: red">Not supported yet</strong>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </div>
            
        </form>

        <div layout="row">

            <md-button id="add" ng-click="add()" ng-show="!uiCtrl.editing" ng-disabled="configuration.$pristine || configuration.$invalid" aria-label="Add Ground Station" class="md-primary menu-button">
                <div layout="row">
                    <i class="fa fa-plus"></i>
                    <b>add</b>
                </div>
            </md-button>

            <md-button id="edit" ng-click="update()" ng-show="uiCtrl.editing" ng-disabled="configuration.$pristine || configuration.$invalid" aria-label="Edit Ground Station" class="md-primary menu-button">
                <div layout="row">
                    <i class="fa fa-floppy-o"></i>
                    <b>save</b>
                </div>
            </md-button>

            <md-button id="cancel" ng-click="cancel()" aria-label="Cancel" class="md-primary menu-button">
                <div layout="row">
                    <i class="fa fa-times"></i>
                    <b>cancel</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>