<md-dialog ng-init="init()" aria-label="Availability Rules Menu">

    <md-content class="menu-list">

        <md-button id="addRule" ng-click="showRuleDialog()" aria-label="add rule" class="md-primary menu-button">

            <div layout="row" layout-fill>
                <i class="fa fa-plus"></i>
                <b>availability rule</b>
            </div>

        </md-button>

        <md-divider></md-divider>

        <md-list>
            <md-list-item ng-repeat="r in ruleList">

                <div layout="row" layout-fill>

                    <md-content layout-padding>
                        <b>{{ r.key }}</b>
                    </md-content>

                    <md-button id="{{ r }}-edit" ng-click="edit(r)" aria-label="edit availability rule {{ r }}" class="md-primary menu-button" style="text-align:center; width: 58%">
                        <div layout="row" layout-fill>
                            <b>{{ r | printRule }}</b>
                        </div>
                    </md-button>

                    <md-button id="{{ r }}-delete" aria-label="delete rule {{ r }}" class="md-primary menu-button" flex ng-click="delete(r)">
                        <div layout="row" layout-fill>
                            <i class="fa fa-close"></i>
                        </div>
                    </md-button>

                </div>

            </md-list-item>
        </md-list>

    </md-content>

</md-dialog>