<md-dialog aria-label="Availability Rules Menu">

    <md-content class="menu-list">

        <md-button id="addRule" ng-click="showAddDialog()" aria-label="add rule" class="md-primary menu-button">

            <div layout="row" layout-fill>
                <i class="fa fa-plus"></i>
                <b>availability rule</b>
            </div>

        </md-button>

        <md-divider></md-divider>

        <md-list>
            <md-list-item ng-hide="ruleList.length">
                <span class="sn-no-item" flex>(no rules)</span>
            </md-list-item>
            <md-list-item ng-hide="!ruleList.length" ng-repeat="r in ruleList">

                <!--
                <md-card style="width: 90%">
                    <md-card-title>
                        <md-card-title-text class="md-primary">
                            <b>{{ r | printRuleTitle }}</b>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        {{ r | printRuleDates }}
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center end">
                        <md-button id="{{ r }}-delete"
                                   ng-click="delete(r)"
                                   aria-label="delete rule {{ r }}"
                                   class="md-primary menu-button" flex>
                            <div layout="row" layout-fill>
                                <i class="fa fa-close"></i>
                            </div>
                        </md-button>
                    </md-card-actions>
                </md-card>
                -->

                <!-- -->
                <div layout="row" layout-fill>

                    <md-button id="{{ r }}-edit"
                               aria-label="edit availability rule {{ r }}"
                               class="md-primary menu-button"
                               style="width: 90%">
                        <div layout="row" layout-fill>
                            <b style="font-size: 75%">{{ r | printRule }}</b>
                        </div>
                    </md-button>

                    <md-button id="{{ r }}-delete" ng-click="delete(r)"
                               aria-label="delete rule {{ r }}"
                               class="md-primary menu-button" flex>
                        <div layout="row" layout-fill class="sn-red-action">
                            <i class="fa fa-close"></i>
                        </div>
                        <md-tooltip md-direction="top">Delete</md-tooltip>
                    </md-button>

                </div>
                <!-- -->

            </md-list-item>
        </md-list>

    </md-content>

</md-dialog>