<md-dialog aria-label="Availability Rules Menu">

    <md-content class="menu-list">

        <md-button id="addRule" ng-click="showAddDialog()" ng-disabled="addRuleDisabled" aria-label="add rule" class="md-primary menu-button">

            <div layout="row" layout-fill>
                <i class="fa fa-plus"></i>
                <b>availability rule</b>
            </div>

        </md-button>

        <md-content class="ng-invalid" ng-show="addRuleDisabled">
            <span><strong>
                To add availability rules, channels should be added first
            </strong></span>
        </md-content>

        <md-divider></md-divider>

        <md-list>
            <md-list-item ng-hide="ruleList.length">
                <span class="sn-no-item" flex>(no rules)</span>
            </md-list-item>
            <md-list-item ng-hide="!ruleList.length" ng-repeat="r in ruleList">

                <div layout="row" layout-fill>

                    <md-content layout-padding>
                        <b>{{ r.key }}</b>
                    </md-content>

                    <md-button id="{{ r }}-edit" ng-click="showEditDialog(r)" aria-label="edit availability rule {{ r }}" class="md-primary menu-button" style="width: 58%">
                        <div layout="row" layout-fill>
                            <b>{{ r | printRule }}</b>
                        </div>
                    </md-button>

                    <md-button id="{{ r }}-delete" ng-click="delete(r)" aria-label="delete rule {{ r }}" class="md-primary menu-button" flex>
                        <div layout="row" layout-fill>
                            <i class="fa fa-close"></i>
                        </div>
                    </md-button>

                </div>

            </md-list-item>
        </md-list>

    </md-content>

</md-dialog>