<md-dialog aria-label="Ground Stations Menu">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Registered Ground Stations</span>
        </h2>
    </md-toolbar>

    <md-content class="menu-list">

        <md-button id="addGs" ng-click="showAddDialog()" aria-label="add ground station" class="md-primary menu-button">

            <div layout="row" layout-fill>
                <i class="fa fa-plus"></i>
                <b>ground station</b>
            </div>

        </md-button>

        <md-divider></md-divider>

        <md-list>
            <md-list-item ng-hide="gsList.length" class="sn-no-item">
                (no ground stations)
            </md-list-item>
            <md-list-item ng-repeat="gs in gsList">
                <div layout="row" layout-fill>

                    <md-button id="{{ gs }}-edit" ng-click="showEditDialog(gs)" aria-label="edit ground station {{ gs }}" class="md-primary menu-button" style="text-align:center; width: 57%">
                        <div layout="row" layout-fill>
                            <b>{{ gs }}</b>
                        </div>
                    </md-button>
                    <md-button id="{{ gs }}-rules" ng-click="showRuleList(gs)" aria-label="manage rules {{ gs }}" class="md-primary menu-button" flex>
                        <div layout="row" layout-fill>
                            <i class="fa fa-clock-o"></i>
                        </div>
                    </md-button>
                    <md-button id="{{ gs }}-channels" ng-click="showChannelList(gs)" aria-label="manage channels {{ gs }}" class="md-primary menu-button" flex>
                        <div layout="row" layout-fill>
                            <i class="fa fa-rss"></i>
                        </div>
                    </md-button>
                    <md-button id="{{ gs }}-delete" ng-click="delete(gs)" aria-label="delete ground station {{ gs }}" class="md-primary menu-button" flex>
                        <div layout="row" layout-fill>
                            <i class="fa fa-close"></i>
                        </div>
                    </md-button>

                </div>
            </md-list-item>
        </md-list>

    </md-content>
</md-dialog>