<md-dialog ng-init="init()" aria-label="Slot Requests Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Slot Requests</span>
        </h2>
    </md-toolbar>

    <md-content id="sn-sch-md-content">

    </md-content>

    <md-content class="add-gs-dialog menu-list">

        <div layout="row">

            <md-button id="cancel" ng-click="close()" aria-label="Cancel"
                       class="md-primary menu-button sn-margin"
                       style="width: 100px">
                <div layout="row">
                    <i class="fa fa-reply"></i>
                    <b style="margin-left: 15px">cancel</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>