
<h5 ng-show="gui.requests | isEmpty" class="sn-no-item">
    (no spacecraft requests)
</h5>

<md-list-item ng-repeat="(s, slots) in gui.requests">
    <sn-gs-sc-requests gs="{{ gui.groundstation_id }}" sc="{{ s }}"
                    primary="groundstation"
                    slots="slots" state="SELECTED">
    </sn-gs-sc-requests>
    <sn-gs-sc-requests gs="{{ gui.groundstation_id }}" sc="{{ s }}"
                    primary="groundstation"
                    slots="slots" state="RESERVED">
    </sn-gs-sc-requests>
</md-list-item>
