<md-dialog aria-label="Slot Requests Dialog" style="width: 350px">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Slot Requests</span>
        </h2>
    </md-toolbar>

    <md-content id="sn-sch-md-content">

        <md-list>

            <li ng-hide="gui.groundstations.length" class="sn-no-item">
                (no ground stations)
            </li>

            <md-list-item ng-repeat="(g, scRequests) in gui.requests">

                <h3 style="text-align: center">{{ g }}</h3>

                <div layout="column" layout-fill>

                    <li ng-hide="!Object.keys(scRequests).length"
                        class="sn-no-item">
                        (no requests)
                    </li>

                    <md-list-item ng-repeat="(s, requests) in scRequests">

                    <li ng-hide="(requests | filterFree).length"
                        class="sn-no-item">
                        (no requests)
                    </li>

                        <md-list-item
                            ng-repeat="r in requests | filterFree">

                        <div layout="row" layout-fill>
                        <md-button id="{{ r.identifier }}-edit"
                                   aria-label="edit requrest {{ r }}"
                                   class="md-primary menu-button"
                                   flex="80">
                            <div class="sn-sch-slot-requests"
                                 layout="row" layout-fill>
                                <ul>
                                    <li class="sn-title">
                                        <p>{{ g }} &ang; {{ s }}</p>
                                    </li>
                                    <li><p>{{ r | printRequest }}</p></li>
                                </ul>
                            </div>
                        </md-button>

                        <md-button id="{{ r.identifier }}-accept"
                                   ng-click="accept(r)"
                                   aria-label="accept {{ r.identifier }}"
                                   class="md-primary menu-button" flex>
                            <div layout="row" layout-fill>
                                <i class="fa fa-check"></i>
                            </div>
                            <md-tooltip md-direction="top">accept</md-tooltip>
                        </md-button>

                        <md-button id="{{ r.identifier }}-deny"
                                   ng-click="deny(r)"
                                   aria-label="deny {{ r.identifier }}"
                                   class="md-primary menu-button" flex>
                            <div layout="row" layout-fill
                                 class="sn-red-action">
                                <i class="fa fa-ban"></i>
                            </div>
                            <md-tooltip md-direction="top">deny</md-tooltip>
                        </md-button>
                        </div>

                        </md-list-item>
                        
                    </md-list-item>

                </div>

            </md-list-item>
        </md-list>

    </md-content>

    <md-content class="add-gs-dialog menu-list">

        <div layout="row">

            <md-button id="cancel" ng-click="close()" aria-label="Cancel"
                       class="md-primary menu-button sn-margin"
                       style="width: 100px">
                <div layout="row">
                    <i class="fa fa-reply"></i>
                    <b style="margin-left: 15px">cancel</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>