
<md-dialog aria-label="Slot Requests Dialog" style="width: 350px">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools"><span>Slot Requests</span></h2>
    </md-toolbar>

    <md-content id="sn-sch-md-content">

        <li ng-hide="gui.groundstations.length" class="sn-no-item">
            (no ground stations available)
        </li>

        <md-tabs md-dynamic-height md-border-bottom md-selected="gui.tab">
            <md-tab ng-repeat="g in gui.groundstations" label="{{ g }}">
                <sn-gs-requests gs="{{ g }}"></sn-gs-requests>
            </md-tab>
        </md-tabs>

    </md-content>

    <md-content class="add-gs-dialog menu-list"><div layout="row">

        <md-button ng-click="close()" aria-label="Cancel"
                   class="md-primary menu-button sn-margin"
                   style="width: 100px">
            <div layout="row">
                <i class="fa fa-reply"></i>
                <b style="margin-left: 15px">cancel</b>
            </div>
        </md-button>

    </div></md-content>
</md-dialog>
