
<div layout="row" layout-fill>
    <md-button aria-label="edit request"
               class="md-primary menu-button" flex="80">
        <div class="sn-sch-slot-requests" layout="row" layout-fill>
            <ul>
                <li class="sn-title"><p>
                    {{ gui.groundstation_id }} &rarr; {{ gui.spacecraft_id }}
                </p></li>
                <li><p>{{ gui.slot | printRequest }}</p></li>
                <li><p ng-class="{
                        'sn-state-selected':  gui.state === 'SELECTED',
                        'sn-state-reserved':  gui.state === 'RESERVED'
                    }">{{ gui.state }}
                </p></li>
            </ul>
        </div>
    </md-button>

    <md-button ng-show="showAccept()"
                ng-disabled="true"
                ng-click="accept()" aria-label="accept"
                class="md-primary menu-button" flex>
        <div layout="row" layout-fill>
            <i class="fa fa-check"></i>
        </div>
        <md-tooltip md-direction="top">accept</md-tooltip>
    </md-button>

    <md-button ng-show="showDeny()"
                ng-disabled="true"
                ng-click="deny()" aria-label="deny"
                class="md-primary menu-button" flex>
        <div layout="row" layout-fill class="sn-red-action">
            <i class="fa fa-ban"></i>
        </div>
        <md-tooltip md-direction="top">deny</md-tooltip>
    </md-button>

    <md-button ng-show="showDrop()"
                ng-disabled="true"
                ng-click="drop()" aria-label="deny"
                class="md-primary menu-button" flex>
        <div layout="row" layout-fill class="sn-red-action">
            <i class="fa fa-close"></i>
        </div>
        <md-tooltip md-direction="top">drop</md-tooltip>
    </md-button>

</div>
