<md-dialog ng-init="init()" aria-label="Availability Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Availability Slots</span>
        </h2>
    </md-toolbar>

    <md-content id="sn-sch-md-content">

        <table id="a-slots-timeline" class="sn-sch-table">

            <colgroup>
                <col class="sn-sch-gs-col"/>
                <col span="2" class="sn-sch-time-col"/>
                <col class="sn-sch-day-col"/>
                <col span="3" class="sn-sch-time-col"/>
            </colgroup>

            <tr>
                <td class="sn-sch-corner-top"/>
                <td class="sn-sch-axis-time-top" ng-repeat="d in gui.days track by $index">
                    <span>{{ d }}</span>
                </td>
            </tr>

            <!-- OVERLAYS: http://jsfiddle.net/h3ze620s/ -->
            <!-- OVERLAYS: http://jsfiddle.net/rtubio/sohwqmzs/3/ -->
            <tr ng-repeat="(gs, slots) in gui.slots">
                <td class="sn-sch-gs-id">{{ gs }}</td>
                <td class="sn-sch-gs-slots">
                    <div class="sn-sch-row-div">
                        <div style="height: 40%; background: black; opacity: 0.125;"></div>
                        <div style="height: 20%"></div>
                        <div style="height: 40%; background: black; opacity: 0.125;"></div>
                    </div>
                </td>
                <td class="sn-sch-gs-slots"></td>
                <td class="sn-sch-gs-slots"></td>
                <td class="sn-sch-gs-slots"></td>
                <td class="sn-sch-gs-slots"></td>
                <td class="sn-sch-gs-slots"></td>
            </tr>

            <tr>
                <td class="sn-sch-corner-bottom"/>
                <td class="sn-sch-axis-time-bottom" ng-repeat="d in gui.days track by $index">
                    <span>{{ d }}</span>
                </td>
            </tr>

        </table>

    </md-content>

    <md-content class="add-gs-dialog menu-list">

        <div layout="row">

            <md-button id="cancel" ng-click="close()" aria-label="Cancel" class="md-primary menu-button sn-margin" style="width: 100px">
                <div layout="row">
                    <i class="fa fa-times"></i>
                    <b style="margin-left: 15px">cancel</b>
                </div>
            </md-button>

            <md-button id="detach" ng-click="detach()" aria-label="Detach" class="md-primary menu-button" style="width: 125px">
                <div layout="row" style="sn-margin">
                    <i class="fa fa-clone"></i>
                    <b style="margin-left: 15px">detach</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>