<md-dialog ng-init="init()" aria-label="Availability Dialog">

    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Operational Slots</span>
        </h2>
    </md-toolbar>

    <md-content>

        <div id="a-slots-timeline" style="height: 180px;">
        
            <svg id="svg-timeline" width="100%" ng-attr-min-height="{{ timeline_min_height }}">
                <g ng-repeat="gs in gss" class="sn-timeline-gs-row">
                    <rect x="10" y="10" width="10" height="10" fill="black"></rect>
                    <text>{{ gs.id }}</text>
                </g>
            </svg>

        </div>

    </md-content>

    <md-content class="add-gs-dialog menu-list">

        <div layout="row">

            <md-button id="cancel" ng-click="close()" aria-label="Cancel" class="md-primary menu-button sn-margin" style="width: 100px">
                <div layout="row">
                    <i class="fa fa-times"></i>
                    <b style="margin-left: 15px">cancel</b>
                </div>
            </md-button>

            <md-button id="detach" ng-click="detach()" aria-label="Detach" class="md-primary menu-button" style="width: 125px">
                <div layout="row" style="sn-margin">
                    <i class="fa fa-clone"></i>
                    <b style="margin-left: 15px">detach</b>
                </div>
            </md-button>

        </div>

    </md-content>
</md-dialog>