<div class='modal-header'>
    <h3 class='modal-title'>Add Ground Station</h3>
</div>

<div class='modal-body' style='display: table-row;'>
    <div style='float: left; display: table-cell; width: 175px; margin: 15px;'>
        <form name='form'>
            <div class='control-group'
                    ng-class="{ 'has-error': form.identifier.$invalid }">
                <label class='control-label'
                       for='identifier'>Identifier</label>
                <input type='text' name='identifier'
                       class='form-control' style='width: 95%'
                       ng-model="gs.identifier"
                       ng-remote-validate='/configuration/groundstations/valid_id'
                       ng-remote-throttle='200'
                       ng-remote-method='GET'
                       ng-pattern='/^[a-zA-Z0-9.\-_]{5,8}$/'
                       required />
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.callsign.$invalid }">
                <label class='control-label'
                       for='callsign'>Callsign</label>
                <input type='text' name='callsign'
                       ng-model="gs.callsign"
                       class='form-control' style='width: 95%'
                       ng-pattern='/^[a-zA-Z0-9]{3,8}$/'
                       required/>
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.elevation.$invalid }">
                <label class='control-label'
                       for='elevation'>Min. Antenna Elevation</label>
                <input type='number' name='elevation'
                       ng-model="gs.elevation"
                       class='form-control' style='width: 95%'
                       step='0.01' min='0' max='90' required />
            </div>
            <hr>
            <label for='add_gs_lat'>Latitude</label>
            <input type='text' name='add_gs_lat' readonly
                   ng-model="markers.gs.lat" style='width: 95%;' />
            <label for='add_gs_lng'>Longitude</label>
            <input type='text' name='add_gs_lng' readonly
                   ng-model="markers.gs.lng" style='width: 95%;' />
        </form>
    </div>
    <div style='display: table-cell;'>
        <leaflet id='addGSMap' style='float: left; width: 365px; height: 365px;
                 margin: 15px 15px 15px 0;'
                center='center' markers='markers' layers='layers'>
        </leaflet>
    </div>
</div>

<div class='modal-footer'>
    <button class='btn btn-primary'
            ng-click="ok()" ng-disabled="form.$invalid">(ok)</button>
    <button class='btn btn-warning'
            ng-click="cancel()">(cancel)</button>
</div>