<div class='modal-header'>
    <h3 class='modal-title'>Add Spacecraft</h3>
</div>

<div class='modal-body' style='display: inline-block;'>
    <form name='form'>
    <div style='display: table-row; padding: 5px; margin: 5px'>
        <div style='display: table-cell; width: 300px'>
            <div class='control-group'
                    ng-class="{ 'has-error': form.identifier.$invalid }">
                <label class='control-label'
                       for='identifier'>Identifier</label>
                <input type='text' name='identifier'
                       class='form-control' style='width: 95%'
                       ng-model="sc.identifier"
                       ng-remote-validate='/configuration/spacecraft/valid_id'
                       ng-remote-throttle='200'
                       ng-remote-method='GET'
                       ng-pattern='/^[a-zA-Z0-9.\-_]{5,8}$/'
                       required />
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.callsign.$invalid }">
                <label class='control-label'
                       for='callsign'>Callsign</label>
                <input type='text' name='callsign'
                       ng-model="sc.callsign"
                       class='form-control' style='width: 95%'
                       ng-pattern='/^[a-zA-Z0-9]{3,8}$/'
                       required />
            </div>
        </div>
        <div style='display: table-cell; width: 300px' >
            <div class='control-group'
                    ng-class="{ 'has-error': form.tlegroup.$pristine }">
                <div>
                    <label class='control-label' for='tlegroup'>TLE Group (Celestrak)</label>
                </div>
                <div>
                    <ol id='tlegroup' class='nya-bs-select'
                        ng-model='sc.tlegroup'
                        ng-change="groupChanged(sc.tlegroup)">
                        <li nya-bs-option='t in tlegroups group by t.section'>
                            <span class="dropdown-header">{{$group}}</span>
                            <a>{{t.subsection}}</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.tleid.$pristine }">
                <div>
                    <label class='control-label' for='tleid'>
                        <div style='display: table-row'>
                            <div style='display: table-cell'>
                                <span>TLE Id</span>
                            </div>
                            <div style='display: table-cell'
                                 ng-show="sc.savedTleId">
                                <p style='font-size:70%'>(Current:{{ sc.savedTleId }})</p>
                            </div>
                        </div>
                    </label>
                </div>
                <div>
                    <ol id='tleid' class='nya-bs-select'
                        ng-model="sc.tleid" ng-disabled="sc.tlegroup">
                        <li nya-bs-option="t in tles">
                            <span class='dropdown-header'>{{$group}}</span>
                            <a>{{t.spacecraft_tle_id}}</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<div class='modal-footer'>
    <button class='btn btn-primary'
            ng-click="ok()" ng-disabled="form.$invalid">(ok)</button>
    <button class='btn btn-warning'
            ng-click="cancel()">(cancel)</button>
</div>