<div class='modal-header'>
    <h3 class='modal-title'>Edit Ground Station</h3>
</div>

<div class='modal-body'
     style='display: table-row;'>
    <div style='float: left; display: table-cell; width: 175px; margin: 15px;'>
        <form name="form">
            <div class='control-group'
                    ng-class="{ 'has-error': form.identifier.$invalid }">
                <label class='control-label'
                       for='identifier'>Identifier</label>
                <input type='text' name='identifier' id='identifier'
                       class='form-control' style='width: 95%'
                       ng-model="gs.identifier" readonly />
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.callsign.$invalid }">
                <label class='control-label'
                       for='callsign'>Callsign</label>
                <input type='text' name='callsign' id='callsign'
                       class='form-control' style='width: 95%'
                       ng-pattern='/^[a-zA-Z0-9]{3,8}$/'
                       ng-model="gs.callsign"
                       required/>
                <!--  -->
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.elevation.$invalid }">
                <label class='control-label'
                       for='elevation'>Min. Antenna Elevation</label>
                <input type='number' name='elevation' id='elevation'
                       ng-model="gs.elevation"
                       class='form-control' style='width: 95%'
                       step='0.01' min='0' max='90' required />
            </div>
            <hr/>

            <div class='control-group'
                    ng-class="{ 'has-error': form.edit_gs_lat.$invalid }">
                <label for='edit_gs_lat'>Latitude</label>
                <input name='edit_gs_lat' id='edit_gs_lat'
                       type='number' step='0.01' readonly
                       ng-model="markers.gs.lat"
                       style='width: 95%;' >
                </input>
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.edit_gs_lng.$invalid }">
                <label for='edit_gs_lng'>Longitude</label>
                <input name='edit_gs_lng' id='edit_gs_lng'
                       type='number' step='0.01' readonly
                       ng-model="markers.gs.lng"
                       style='width: 95%;'>
                </input>
            </div>

        </form>
    </div>
    <div style='display: table-cell;'>
        <leaflet id='editGSMap'
                 style='float: left; width: 365px; height:365px; margin: 15px 15px 15px 0px;'
                 markers='markers' center='center' layers='layers'>
        </leaflet>
    </div>
</div>

<div class='modal-footer'>
    <button class='btn btn-primary' ng-click="update()"
            ng-disabled="form.$pristine || form.$invalid">
        (update)
    </button>
    <button class='btn btn-warning' ng-click="cancel()">(cancel)</button>
    <button class='btn btn-danger' ng-click="erase()">(remove)</button>
</div>