<div class='modal-header'>
    <h3 class='modal-title'>Edit Spacecraft</h3>
</div>

<div class='modal-body' style='display: inline-block;'>
     <form name='form'><div style='display: inline-block; padding: 20px;'>
        <div style='float: left; width: 250px;'>
            <div class='control-group'
                    ng-class="{ 'has-error': form.identifier.$invalid }">
                <label class='control-label'
                       for='identifier'>Identifier</label>
                <input type='text' name='identifier'
                       class='form-control' style='width: 95%'
                       ng-model="sc.identifier" readonly/>
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.callsign.$invalid }">
                <label class='control-label'
                       for='callsign'>Callsign</label>
                <input type='text' name='callsign'
                       ng-model="sc.callsign"
                       class='form-control' style='width: 95%'
                       ng-pattern='/^[a-zA-Z0-9]{3,8}$/'
                       required />
            </div>
        </div>
        <div class='my-tle-menu' >
            <div class='control-group'
                    ng-class="{ 'has-error': form.tlegroup.$pristine }">
                <label class='control-label' for='tlegroup'>TLE Group (Celestrak)</label>
                <ol id='tlegroup' class='nya-bs-select'
                    ng-model='sc.tlegroup'
                    ng-change="groupChanged(sc.tlegroup)">
                    <li nya-bs-option='t in tlegroups group by t.section'>
                        <span class="dropdown-header">{{$group}}</span>
                        <a>{{t.subsection}}</a>
                    </li>
                </ol>
            </div>
            <div class='control-group'
                    ng-class="{ 'has-error': form.tleid.$pristine }">
                <label class='control-label' for='tleid'>
                    <div style='display: inline-block'>
                        <div style='float: left, padding: 20px;'><p>TLE Id</p></div>
                        <div>
                            <p style='font-size:70%'>(Current: {{ sc.savedTleId }})</p>
                        </div>
                    </div>
                </label>
                <ol id='tleid' class='nya-bs-select' ng-model='sc.tleid'>
                    <li nya-bs-option='t in tles'>
                        <span class='dropdown-header'>{{$group}}</span>
                        <a>{{t.spacecraft_tle_id}}</a>
                    </li>
                </ol>
            </div>
        </div>
    </div></form>
</div>

<div class='modal-footer'>
    <button class='btn btn-primary'
            ng-click="update()" ng-disabled="form.$invalid">(update)</button>
    <button class='btn btn-warning' ng-click="cancel()">(cancel)</button>
    <button class='btn btn-danger' ng-click="erase()">(remove)</button>
</div>