<md-dialog ng-controller="snCompatibilityDlgCtrl" ng-init="init()" aria-label="Compatibility Dialog">
<md-content class="md-padding">

    <md-list>
        <md-list-item class="md-3-line" ng-repeat="sc in compatibility">

            <md-card>
                <md-card-content>
                    <h2 class="md-title md-primary sn-padding sn-fg-color">{{ sc.spacecraft_id }}</h2>
                    <md-list class="md-list-item-text">
                        <md-list-item ng-hide="sc.Compatibility.length">
                            <span class="sn-no-item" style="margin-left: 25px">(no compatible channels found)</span>
                        </md-list-item>
                        <md-list-item class="md-4-line" ng-repeat="sc_ch in sc.Compatibility" layout="row">
                            <div class="sn-box-100">
                                <i class="md-title sn-padding sn-fg-color">{{ sc_ch.ScChannel.identifier }}</i>
                            </div>
                            <div class="sn-box-100 sn-box-format" ng-repeat="gs_compat in sc_ch.Compatibility">
                                <div>
                                    <i class="md-title sn-padding">
                                        {{ gs_compat.GsChannel.identifier }}
                                    </i>
                                </div>
                                <div>
                                    <b class="md-title sn-padding">
                                        {{ gs_compat.GroundStation.identifier }}
                                    </b>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card>

        </md-list-item>
    </md-list>

<div layout="row">

    <md-button id="cancel" ng-click="closeDialog()" aria-label="close dialog" class="md-primary menu-button">
        <div layout="row">
            <i class="fa fa-times"></i>
            <b>close</b>
        </div>
    </md-button>

</div>

</md-content>
</md-dialog>