<div ng-controller="snLoggerCtrl" class="n-area">
    <div class="sn-logger-content">
        <ul class="n-area-list">
            <li ng-repeat="e in eventLog">
            <div class="sn-logger-msg">
                <div class="sn-logger-cell">
                    <p class="{{ e.type }}">[@{{ e.timestamp }}]</p></div>
                <div class="sn-logger-cell">
                    <span class="{{ e.type }}">{{ e.msg }}</span>
                </div>
             </div>
            </li>
        </ul>
    </div>
</div>
